{% extends 'base.html' %}
{% load static %}
{% block title %}药材知识库{% endblock %}

{% block content %}
<br>
            <div class="container-fluid">
                <!-- Page Header-->
                <header>
                    <h1 class="h3 display">药材知识库</h1>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'herbindex' %}" method="get">
                                    <div class="form-group row" style="margin-left: 250px;" >
                                        <label class="form-control-label" >药材名称</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="search-herb-text" value="{{ search_text }}" placeholder="示例：金银花" style="vertical-align: middle;">
                                        </div>
                                        <div class="col-sm-2 " style="text-align: right;">
                                            <button class="btn btn-primary" type="submit">检索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% if search_text %}
        <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            {% if herbs %}
                            <h2 class="h5">搜索结果</h2>
                            {% for herb in herbs %}
                                <div class="list-group">
                                  <a href="{% url 'Search_herb' herb.med_mat_name %} " class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1" >{{ herb.med_mat_name }}</h5>
                                    </div>
                                  </a>
                                </div>
                                {% endfor %}
                            {% else %}
                                <h2 class="card-title">未找到相关结果</h2>
                                <br>
                                <p class="card-subtitle mb-2 text-muted">您可以:</p>
                                <p class="card-text">1.检查检索词是否有误或者过于复杂</p>
                                <p class="card-text">2.在其他栏目中搜索“{{ search_text }}”</p>
                                <a href="{% url 'herbindex' %}" class="card-link">返回</a>
                             {% endif %}
                        </div>
                    </div>
                </div>
        </div>
    {% endif %}
{% endblock %}
