{% extends 'base.html' %}
{% load static %}
{% block title %}首页{% endblock %}

{% block content %}
<br>
            <div class="container-fluid">
                <!-- Page Header-->
                <header>
                    <h1 class="h3 display">中药方剂知识库</h1>
                </header>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="{% url 'Search_recipe' %}" method="get">
                                    <div class="form-group row" style="margin-left: 250px;" >
                                        <label class="form-control-label" >方剂名称</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" name="search-recipe-text" placeholder="示例：四妙勇安汤" style="vertical-align: middle;">
                                        </div>
                                        <div class="col-sm-2 " style="text-align: right;">
                                            <button class="btn btn-primary" type="submit">检索</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

