{% extends 'base.html' %}
{% load static %}
{% block title %}方剂-药材-组分知识图谱{% endblock %}
{% block content %}
    <br>
    <style type="text/css">
#indicator {
	position: absolute;
	left: 60px;
	bottom: 120px;
    text-align: left;
    color: #000000;
    font-size: 12px;
}

#indicator>div {
    margin-bottom: 4px;
}

#indicator span {
    display: inline-block;
    width: 30px;
    height: 14px;
    position: relative;
    top: 2px;
    margin-right: 8px;
}
</style>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">方剂-药材-组分知识图谱</h1>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                             <form action="{% url 'Recipehcindex' %}" method="get">
                            <div class="form-group row" style="margin-left: 25%;" >
                                <label class="form-control-label" >方剂名称</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="search-recipehcKG-text" value="{{ recipe_mame }}" style="vertical-align: middle;">
                                </div>
                                <div class="col-sm-2 " style="text-align: right;">
                                    <button class="btn btn-primary" id="button">检索</button>
                                </div>
                            </div>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="show">
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
                <div class="col-lg-12">
                   <div class="card">
                      <div class="card-body" >
                          <div id="indicator">
	                        </div>
                         <div id="id1">
                             <script type="text/javascript">
                                var height=1000;
                                var width=927;
                                var names=['方剂','药材','组分分子']

                                    var colors = ['#7fff00', '#1e90ff', '#ffb6c1',];

                                    var colors_text=['#000000'];//文本颜色

                                    var colors_links=['#A9A9A9'];//线颜色
                                //补充CSS样式设置字体布局
                                    for (var i=0; i < names.length; i++) {
                                        $('#indicator').append("<div><span style='background-color:" + colors[i] + "'></span>" + names[i] + "</div>");
                                    }

                                    var svg=d3.select("#id1")
                                        .append("svg")
                                        .attr("width",width)
                                        .attr("height",height);

{#                                  利用d3.forceSimulation()定义关系图 包括设置边link、排斥电荷charge,strength表示节点距离、关系图中心点#}
                                    var simulation = d3.forceSimulation()
	                                    .force("link", d3.forceLink().id(function(d) {
	                                        return d.id;
	                                    }))
	                                    .force("charge", d3.forceManyBody().strength(-200))
                                        .force('x', d3.forceX(width / 2))
                                        .force('y', d3.forceY(height / 2))
	                                    .force("center", d3.forceCenter(width / 2, height / 2));

{#                                  存储关系图的数据#}
                                console.log({{ arg | safe }})
	                                var graph={{ arg | safe }};


                                    //D3映射数据至HTML中
	    	                        //g用于绘制所有边,selectALL选中所有的line,并绑定数据data(graph.links),enter().append("line")添加元素
	    	                        //数据驱动文档,设置边的粗细
                                    //所有线宽度均为3
	    	                        var link = svg.append("g").attr("class","links").selectAll("line").data(graph.links).enter()
	    	                        .append("line").attr("stroke-width", function(d) {
	    		                        //return Math.sqrt(d.value);
	    		                        return 1;
	    	                        }).attr("stroke", function() {
	    		                        return colors_links;
	    	                        })


                                    //添加所有的点
	    	                        //selectAll("circle")选中所有的圆并绑定数据,圆的直径为d.size
	    	                        //再定义圆的填充色,同样数据驱动样式,圆没有描边,圆的名字为d.id
	    	                        //call()函数：拖动函数,当拖动开始绑定dragstarted函数，拖动进行和拖动结束也绑定函数
	    	                        var node = svg.append("g").attr("class", "nodes").selectAll("circle").data(graph.nodes).enter()
	    	                        .append("circle").attr("r", function(d) {
	    		                        return d.size;
	    	                        }).attr("fill", function(d) {
	    		                        return colors[d.group];
	    	                        }).attr("stroke", "none").attr("name", function(d) {
	    		                        return d.id;
	    	                        }).attr("cx", function(d) {
                                        return d.x = Math.max(width/2);
                                    }).attr("cy", function(d) {
                                        return d.y = Math.max(height/2);
                                    }).call(d3.drag()
	    		                        .on("start", dragstarted)
	    		                        .on("drag", dragged)
	    		                        .on("end", dragended)
	    	                        );

                                    //显示所有的文本
                                    //设置大小、填充颜色、名字、text()设置文本
                                    //attr("text-anchor", "middle")文本居中

                                    var text = svg.append("g").attr("class", "texts").selectAll("text").data(graph.nodes).enter()
                                    .append("text").attr("font-size", function(d) {
                                        return 15;
                                    }).attr("fill", function() {
                                        return colors_text;
                                    }).attr('name', function(d) {
                                        return d.id;
                                    }).text(function(d) {
                                        return d.id;
                                    }).call(d3.drag()
                                        .on("start", dragstarted)
                                        .on("drag", dragged)
                                        .on("end", dragended)
                                    );


                                        //圆增加title
                                    node.append("title").text(function(d) {
                                            return d.id;
                                        })

                                        //simulation
                                        //ticked 数据初始化，并生成图形

                                        simulation
                                            .nodes(graph.nodes)
                                            .on("tick", ticked);

                                        simulation.force("link")
                                            .links(graph.links);


                                        //开始拖动并更新相应的点
	                                function dragstarted(d) {
	                                    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
                                        d.fx = d.x;
	                                    d.fy = d.y;
                                        //dragging = true;
	                                }

	                                //拖动进行中
	                                function dragged(d) {
	                                    d.fx = d3.event.x;
	                                    d.fy = d3.event.y;
	                                }

	                                //拖动结束
                                    function dragended(d) {
	                                    if (!d3.event.active) simulation.alphaTarget(0);
	                                    d.fx = null;
	                                    d.fy = null;
	                                    //dragging = false;
	                                }

                                    //tick()函数确定link线的起始点x、y坐标 node确定中心点 文本通过translate平移变化
                                        function ticked() {
                                    link
                                        .attr("x1", function(d) {
                                            return d.source.x;
                                        })
                                        .attr("y1", function(d) {
                                            return d.source.y;
                                        })
                                        .attr("x2", function(d) {
                                            return d.target.x;
                                        })
                                        .attr("y2", function(d) {
                                            return d.target.y;
                                        });

                                    node
                                        .attr("cx", function(d) {
                                            return d.x;
                                        })
                                        .attr("cy", function(d) {
                                            return d.y;
                                        });

                                    text.
                                    attr('transform', function(d) {
                                        return 'translate(' + d.x + ',' + (d.y + d.size / 2) + ')';
                                    });
                                }

{#                                 //为svg1父元素下的.nodes circle元素绑定鼠标进入事件#}
{#    	$('#id1').on('mouseenter', '.nodes circle', function(event) {#}
{#    		//通过变量dragging保证拖动鼠标时，其状态不受影响，从而改变图形#}
{#    		//鼠标没有拖动才能处理事件#}
{#    		if(!dragging) {#}
{#    			//获取被选中元素的名字#}
{#	    		var name = $(this).attr("name");#}
{##}
{#	    		//选择#svg1 .nodes中所有的circle，再增加个class#}
{#	    		d3.select('#svg1 .nodes').selectAll('circle').attr('class', function(d) {#}
{#	    			//数据的id是否等于name,返回空#}
{#	    			if(d.id==name) {#}
{#	    				return '';#}
{#	    			}#}
{#	    			//当前节点返回空，否则其他节点循环判断是否被隐藏起来(CSS设置隐藏)#}
{#	    			else {#}
{#	    				//links链接的起始节点进行判断,如果其id等于name则显示这类节点#}
{#	    				//注意: graph=data#}
{#	    				for (var i = 0; i < graph.links.length; i++) {#}
{#	    					//如果links的起点等于name，并且终点等于正在处理的则显示#}
{#		                    if (graph.links[i]['source'].id == name && graph.links[i]['target'].id == d.id) {#}
{#		                        return '';#}
{#		                    }#}
{#		                    if (graph.links[i]['target'].id == name && graph.links[i]['source'].id == d.id) {#}
{#		                        return '';#}
{#		                    }#}
{#		                }#}
{##}
{#	    				return "inactive"; //前面CSS定义 .nodes circle.inactive#}
{#	    			}#}
{#	    		});#}
{##}
{#	    		//处理相邻的边line是否隐藏 注意 ||#}
{#	    		d3.select("#id1 .links").selectAll('line').attr('class', function(d) {#}
{#	                if (d.source.id == name || d.target.id == name) {#}
{#	                    return '';#}
{#	                } else {#}
{#	                    return 'inactive';#}
{#	                }#}
{#	            });#}
{#    		}#}
{#   		});#}
{##}
{#    	//鼠标移开还原原图，显示所有隐藏的点及边#}
{#    	$('#id1').on('mouseleave', '.nodes circle', function(event) {#}
{#    		//如果dragging为false才处理事件#}
{#    		if(!dragging) {#}
{#    			d3.select('#svg1 .nodes').selectAll('circle').attr('class', '');#}
{#           		d3.select('#svg1 .links').selectAll('line').attr('class', '');#}
{#    		}#}
{#	    });#}
{##}
{##}
{#    	//鼠标进入文本显示相邻节点及边#}
{#    	$('#id1').on('mouseenter', '.texts text', function(event) {#}
{#	        if (!dragging) {#}
{#	            var name = $(this).attr('name');#}
{##}
{#	            $('#info h4').css('color', $(this).attr('fill')).text(name);#}
{#	            $('#info p').remove();#}
{#	            for (var key in info[name]) {#}
{#	                if (typeof(info[name][key]) == 'object') {#}
{#	                    continue;#}
{#	                }#}
{#	                if (key == 'url' || key == 'title' || key == 'name' || key == 'edited' || key == 'created' || key == 'homeworld') {#}
{#	                    continue;#}
{#	                }#}
{#	                $('#info').append('<p><span>' + key + '</span>' + info[name][key] + '</p>');#}
{#	            }#}
{##}
{#	            d3.select('#svg1 .texts').selectAll('text').attr('class', function(d) {#}
{#	                if (d.id == name) {#}
{#	                    return '';#}
{#	                }#}
{##}
{#	                for (var i = 0; i < graph.links.length; i++) {#}
{#	                    if (graph.links[i]['source'].id == name && graph.links[i]['target'].id == d.id) {#}
{#	                        return '';#}
{#	                    }#}
{#	                    if (graph.links[i]['target'].id == name && graph.links[i]['source'].id == d.id) {#}
{#	                        return '';#}
{#	                    }#}
{#	                }#}
{#	                return 'inactive';#}
{#	            });#}
{#	            d3.select("#svg1 .links").selectAll('line').attr('class', function(d) {#}
{#	                if (d.source.id == name || d.target.id == name) {#}
{#	                    return '';#}
{#	                } else {#}
{#	                    return 'inactive';#}
{#	                }#}
{#	            });#}
{#	        }#}
{#	    });#}
{##}
{#    	//鼠标移除文本还原相应节点及边#}
{#	    $('#id1').on('mouseleave', '.texts text', function(event) {#}
{#             if (!dragging) {#}
{#	            d3.select('#svg1 .texts').selectAll('text').attr('class', '');#}
{#	            d3.select('#svg1 .links').selectAll('line').attr('class', '');#}
{#	        }#}
{#	    });#}
                              </script>
                             </div>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
{% endblock %}


