{% extends 'base.html' %}
{% load static %}
{% block title %}组分知识库{% endblock %}

{% block content %}
    <!-- Counts Section -->
    <br>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">组分知识库</h1>
            </header>
            <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'Comindex' %}" method="get">
                            <div class="form-group row" style="margin-left: 25%;" >
                                <label class="form-control-label" >组分名称</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="search-com-text"  value="{{ name }}" style="vertical-align: middle;">
                                </div>
                                <div class="col-sm-2 " style="text-align: right;">
                                    <button class="btn btn-primary" type="submit">检索</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            {% if molecule %}
                            <h2 class="h5">{{ molecule.molecule_name}}</h2>
                            <table class="table table-hover">
                              <tbody>
                                <tr>
                                  <th width="30%" scope="row">【化学式】</th>
                                  <td>{{ molecule.molecule_formula }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【ML】</th>
                                  <td>{{ molecule.ML }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【AlogP】</th>
                                  <td>{{ molecule.AlogP }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【Hdon】</th>
                                  <td>{{ molecule.Hdon }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【Hacc】</th>
                                  <td>{{ molecule.Hacc }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【OB】</th>
                                  <td>{{ molecule.OB }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【Caco-2】</th>
                                  <td>{{ molecule.Caco }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【BBB】</th>
                                  <td>{{ molecule.BBB }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【DL】</th>
                                  <td>{{ molecule.DL }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【FASA-】</th>
                                  <td>{{ molecule.FASA }}</td>
                                </tr>
                              <tr>
                                  <th width="30%" scope="row">【HL】</th>
                                  <td>{{ molecule.HL}}</td>
                                </tr>
                              </tbody>
                            </table>
                            {% else %}
                                <h2 class="card-title">未找到相关结果</h2>
                                <br>
                                <p class="card-subtitle mb-2 text-muted">您可以:</p>
                                <p class="card-text">1.检查检索词是否有误或者过于复杂</p>
                                <p class="card-text">2.在其他栏目中搜索“{{ name }}”</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

