{% extends 'base.html' %}
{% load static %}
{% block title %}靶标知识图谱{% endblock %}
{% block content %}
    <br>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">靶标知识图谱</h1>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row" style="margin-left: 250px;" >
                                <label class="form-control-label">靶标名称</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" placeholder="示例：细胞色素c" style="vertical-align: middle;">
                                </div>
                                <div class="col-sm-2 " style="text-align: right;">
                                    <button class="btn btn-primary" >检索</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

