{% extends 'base.html' %}
{% load static %}
{% block title %}药对配伍预测{% endblock %}
{% block content %}
    <br>
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <style type="text/css">
#indicator {
	position: absolute;
	left: 60px;
	bottom: 120px;
    text-align: left;
    color: #000000;
    font-size: 12px;
}

#indicator>div {
    margin-bottom: 4px;
}

#indicator span {
    display: inline-block;
    width: 30px;
    height: 14px;
    position: relative;
    top: 2px;
    margin-right: 8px;
}
</style>
        <div class="container-fluid">
            <!-- Page Header-->
            <header>
                <h1 class="h3 display">药对配伍预测</h1>
            </header>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                             <form action="{% url 'Graphapp:Predictindex' %}" method="get">
                            <div class="form-group row" style="margin-left: 15%;" >
                                <label class="form-control-label" >方剂名称</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" id="search-recipehmiKG-text" value="{{ herb1 }}" style="vertical-align: middle;">
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="search-text2" value="{{ herb2 }}"  style="vertical-align: middle;">
                                </div>
                                <div class="col-sm-2 " style="text-align: right;">
                                    <button class="btn btn-primary" id="button">检索</button>
                                </div>
                            </div>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="show">

                <div class="col-lg-12">
                   <div class="card">
                      <div class="card-body" >
                           <div id="indicator">
	                        </div>
                          <svg width="927" height="1000"  id="id1">
    	                    </svg>
                          </div>
                       </div>
                    </div>
                </div>
            </div>
     <script type="text/javascript">
      $(document).ready(function() {
          var height = 1000;
          var width = 927;

          var names = ['药材', '组分分子', '靶标', '疾病']

          var colors = ['#1e90ff', '#ffb6c1', '#9400d3', '#ff8c00'];

          var colors_text = ['#000000'];//文本颜色

          var colors_links = ['#A9A9A9'];//线颜色

          //补充CSS样式设置字体布局
          for (var i = 0; i < names.length; i++) {
              $('#indicator').append("<div><span style='background-color:" + colors[i] + "'></span>" + names[i] + "</div>");
          }
          var svg = d3.select("#id1")
                  .attr("width", width)
                  .attr("height", height);

          {#                                  利用d3.forceSimulation()定义关系图 包括设置边link、排斥电荷charge,strength表示节点距离、关系图中心点#}
          var simulation = d3.forceSimulation()
                  .force("link", d3.forceLink().id(function (d) {
                      return d.id;
                  }).distance(function (d) {
                      return 150;
                  }))
                  .force("charge", d3.forceCollide().radius(35).strength(0.1))
                  .force("charge1", d3.forceManyBody().strength(-50))
                  .force('x', d3.forceX(width / 2))
                  .force('y', d3.forceY(height / 2))
                  .force("center", d3.forceCenter(width / 2, height / 2));

          {#                                  存储关系图的数据#}
          var graph ={{ arg | safe }};


          //D3映射数据至HTML中
          //g用于绘制所有边,selectALL选中所有的line,并绑定数据data(graph.links),enter().append("line")添加元素
          //数据驱动文档,设置边的粗细
          //所有线宽度均为3
          var link = svg.append("g").attr("class", "links").selectAll("line").data(graph.links).enter()
                  .append("line").attr("stroke-width", function (d) {
                      //return Math.sqrt(d.value);
                      return 1;
                  }).attr("stroke", function () {
                      return colors_links;
                  })


          //添加所有的点
          //selectAll("circle")选中所有的圆并绑定数据,圆的直径为d.size
          //再定义圆的填充色,同样数据驱动样式,圆没有描边,圆的名字为d.id
          //call()函数：拖动函数,当拖动开始绑定dragstarted函数，拖动进行和拖动结束也绑定函数
          var node = svg.append("g").attr("class", "nodes").selectAll("circle").data(graph.nodes).enter()
                  .append("circle").attr("r", function (d) {
                      return d.size;
                  }).attr("fill", function (d) {
                      return colors[d.group];
                  }).attr("stroke", "none").attr("name", function (d) {
                      return d.id;
                  }).call(d3.drag()
                          .on("start", dragstarted)
                          .on("drag", dragged)
                          .on("end", dragended)
                  );

          //显示所有的文本
          //设置大小、填充颜色、名字、text()设置文本
          //attr("text-anchor", "middle")文本居中

          var text = svg.append("g").attr("class", "texts").selectAll("text").data(graph.nodes).enter()
                  .append("text").attr("font-size", function (d) {
                      return 15;
                  }).attr("fill", function () {
                      return colors_text;
                  }).attr('name', function (d) {
                      return d.id;
                  }).text(function (d) {
                      return d.id;
                  }).call(d3.drag()
                          .on("start", dragstarted)
                          .on("drag", dragged)
                          .on("end", dragended)
                  );


          //圆增加title
          node.append("title").text(function (d) {
              return d.id;
          })

          //simulation
          //ticked 数据初始化，并生成图形

          simulation
                  .nodes(graph.nodes)
                  .on("tick", ticked);

          simulation.force("link")
                  .links(graph.links);

          var dragging = false;
          //开始拖动并更新相应的点
          function dragstarted(d) {
              if (!d3.event.active) simulation.alphaTarget(0.3).restart();
              d.fx = d.x;
              d.fy = d.y;
              dragging = true;
          }

          //拖动进行中
          function dragged(d) {
              d.fx = d3.event.x;
              d.fy = d3.event.y;
          }

          //拖动结束
          function dragended(d) {
              if (!d3.event.active) simulation.alphaTarget(0);
              d.fx = null;
              d.fy = null;
              dragging = false;
          }

          //tick()函数确定link线的起始点x、y坐标 node确定中心点 文本通过translate平移变化
          function ticked() {
              link
                      .attr("x1", function (d) {
                          return d.source.x;
                      })
                      .attr("y1", function (d) {
                          return d.source.y;
                      })
                      .attr("x2", function (d) {
                          return d.target.x;
                      })
                      .attr("y2", function (d) {
                          return d.target.y;
                      });

              node
                      .attr("cx", function (d) {
                          return d.x;
                      })
                      .attr("cy", function (d) {
                          return d.y;
                      });

              text.attr('transform', function (d) {
                  return 'translate(' + d.x + ',' + (d.y + d.size / 2) + ')';
              });
          }

          $('#id1').on('mouseenter', '.nodes circle', function (e) {
              if (!dragging) {
                  //获取被选中元素的名字
                  var name = $(this).attr("name");
                  d3.select('#id1 .nodes').selectAll('circle').attr('r', function (d) {
                      if (d.id == name) {
                          return d.size + 5;
                      }
                      else {
                          return d.size;
                      }
                  });
                  d3.select('#id1 .texts').selectAll('text').attr('fill', function (d) {
                      if (d.id == name) {
                          return '#000000';
                      }
                      else {
                          return '#A9A9A9';
                      }
                  }).attr('font-size', function (d) {
                      if (d.id == name) {
                          return '20';
                      }
                      else {
                          return '15';
                      }
                  })
              }
          });

          //鼠标移开还原原图
          $('#id1').on('mouseleave', '.nodes circle', function (e) {
              //如果dragging为false才处理事件
              if (!dragging) {
                  d3.select('#id1 .nodes').selectAll('circle').attr('r', function (d) {
                      return d.size;
                  });
                  d3.select('#id1 .texts').selectAll('text').attr('fill', function (d) {
                      return '#000000';
                  }).attr('font-size', '15');
              }

          });

          $('#id1').on('mouseenter', '.texts text', function (e) {
              if (!dragging) {
                  //获取被选中元素的名字
                  var name = $(this).attr("name");
                  d3.select('#id1 .nodes').selectAll('circle').attr('r', function (d) {
                      if (d.id == name) {
                          return d.size + 5;
                      }
                      else {
                          return d.size;
                      }
                  });
                  d3.select('#id1 .texts').selectAll('text').attr('fill', function (d) {
                      if (d.id == name) {
                          return '#000000';
                      }
                      else {
                          return '#A9A9A9';
                      }
                  }).attr('font-size', function (d) {
                      if (d.id == name) {
                          return '20';
                      }
                      else {
                          return '15';
                      }
                  })
              }
          });

          //鼠标移开还原原图
          $('#id1').on('mouseleave', '.texts text', function (e) {
              //如果dragging为false才处理事件
              if (!dragging) {
                  d3.select('#id1 .nodes').selectAll('circle').attr('r', function (d) {
                      return d.size;
                  });
                  d3.select('#id1 .texts').selectAll('text').attr('fill', function (d) {
                      return '#000000';
                  }).attr('font-size', '15');
              }

          });
      });

                            </script>
{% endblock %}


